/*This is my main css file for my website*/
#wrapper {
    width: 960px;
    margin: auto;
    background-color: #dbdbdb;
    overflow: auto;
}

#header {
    width: 940px;
    margin: 10px;
    background-color: #e3e3e3;
}

#navigation {
    text-align: center;
}

#navigation ul li {
    display: inline-block;
    padding-right: 20px;
}

#sidebar {
    margin: 10px;
    width: 290px;
    background-color: #e6e6e6;
    float: right;
    padding: 10px;
    clear: right;
}

#content {
    margin: 10px;
    width: 580px;
    background-color: #f7f7f7;
    float: left;
    padding: 5px;
    clear: left;
}

article {
    margin: 5px;
}

video {
    margin: 0 20px;
}

#gallery {
    width: 290px;
    margin: 10px;
    background-color: #f3f3f3;
    float: right;
    padding: 10px;
    clear: right;
}

#footer {
    width: 960px;
    margin: auto;
    background-color: #a3a3a3;
    clear: both;

}

h1, h2, h3 {
    font-weight: normal;
    text-align: center;
}

figure {
    margin: 20px;
}

#text {
    float: left;
    margin: 5px;
}