/*Forms homework*/
/* main section of CSS styling the form and four main blocks*/
body {
    background: linear-gradient(to right, #58E1FF 0%, #4FCBE5 53%, #42A9BF 100%);
}

#myForm {
    position: relative;
    border-radius: 20px;
    width: 65%; /*width: 960px;*/
    height: 1600px; /*height: 3000px;*/
    margin: 50px auto;
    background: linear-gradient(to bottom,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);
    box-shadow: 2px 2px 10px #000;
    overflow: hidden;
}
form * {
    background: transparent;
}

#one {
    position: absolute;
    border-right: 1px solid #000000;
    /*border-bottom: 1px solid #000000;*/
    padding-right: 15px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 1px #000000;
    background: linear-gradient(to top, #90C6FF 0%, #82B2E5 50%, #7DA3FF 100%);
    float: left;
    width: 45.833333%; /*width: 440px;*/
    left: 0;
    top: 3.125%;/*top: 30px;*/
    /*margin-right: 20px;*/
}

#two {
    /*margin-left: 50px;
    float: left;
    clear: right;*/
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    box-shadow: 1px 1px 1px #000000;
    /*background: linear-gradient(to top,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);*/
    background-color: #31b0d5;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -ms-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    position: absolute;
    top: 3.125%; /*top: 30px;*/
    left: 54.166667%; /*left: 520px;*/
    width: 45.833333%; /*width: 440px;*/
}
#two:hover {
    background-color: #355DFF;
}

#three {
    /*float: left;
    clear: both;*/
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-right: 15px;
    margin-top: 10px;
    background: linear-gradient(to top, #90C6FF 0%, #82B2E5 50%, #7DA3FF 100%);
    box-shadow: 1px 1px 1px #000000;
    position: absolute;
    top: 32.5%; /*top: 520px;*/
    left: 0;
    width: 45.833333%; /*width: 440px;*/
    margin-bottom: 10px;

}
.four {
    position: absolute;
    top: 48.75%; /*top: 780px;*/
    left: 0;
    margin-top: 20px;
    width: 100%; /*width: 960px;*/
    clear: both;
    /*border-top: 1px solid #7db9e8;*/
}
/* Ends the Main CSS styling of the form and blocks */
/* Styling headers and p's*/
h3, h2 {
    color: #ffffff;
    text-align: center;
}
p {
    color: #ffffff;
}
/* Styling the labels and input areas of the form */
label {
    color: #ffffff;
    display: block;
    margin-top: 10px;
}
#name, #email, #datetime, #city, .state {
    margin: 5px 0 10px 0;
    display: block;
}
#city {
    width: 45.454545%; /*width: 200px;*/
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    border-radius: 5px;
}

#local {
    float: left;
}
#location {
    float: left;
    margin-top: 5px;
}

#state {
    width: 100%;
}

#statelabel, #address {
    margin-bottom: 5px;
}

#address {
    margin-top: 5px;
}

#pickyear, #pickmonth, #pickday {
    margin-bottom: 4.545455%; /*20px*/
}

.yearpicker {
    float: left;
}

.monthpicker {
    float: left;
}
.daypicker {
    float: left;
    clear: right;
}
#bd {
    text-align: left;
    margin-bottom: 1.136364%; /*5px*/
}
.monthpicker, .daypicker {
    margin-left: 11.363636%; /*margin-left: 50px;*/
}
#centerfs {
    /*margin: 5px 20px 5px 70px;*/
}

#income {
    display: inline;
    margin-left: 3.409091%;/*margin-left: 15px;*/
    width: 27.272727%; /*width: 120px;*/
    margin-bottom: 10px;
}

.income {
    display: inline;
    margin-top: 4.545455%; /*margin-top: 20px;*/
}

.inhabitants, .working, .householdsize {
    display: inline;
    margin-top: 10px;
}
#people {
    margin-left: 2.272727%; /*margin-left: 10px;*/
    margin-bottom: 10px;
}
#work {
    margin-left: 5.454545%; /*margin-left: 24px;*/
    margin-bottom: 10px;
}
#householdsize {
    margin-left: 29.090909%; /*margin-left: 128px;*/
}

select {
    margin-top: 2.272727%; /*margin-top: 10px;*/
    border: 1px solid #355DFF;
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    height: 4.545455%; /*height: 20px;*/
}

input[type=text], input[type=email], input[type=number] {
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    border-radius: 5px;
    width: 100%; /*width: 440px;*/
    margin-bottom: 1.136364%; /*margin-bottom: 5px;*/
}

input[type=text]:hover, input[type=email]:hover, input[type=datetime]:hover, input[type=number]:hover, select:hover, #income:hover {
    background: #FFFEBA;
}

input[type=text]:focus, input[type=email]:focus, input[type=datetime]:focus, input[type=number] {
    background: #C8F3FF;
}

input[placeholder] {
    padding-left: 10px;
}

/* End of the major portion of styling the labels and text areas */

/* Styling the submit button */
#submit {
    width: 20%;
    height: 2%;
    position: absolute;
    /*background: linear-gradient(to bottom, #44E819 0%, #20E869 50%, #8FFF9A 100%);*/
    background-color: #20E869;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -ms-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    border: 1px solid #55E829;
    border-radius: 8px;
    top: 95%;
    left: 67%;
    margin: 10px;
    font-size: 1em;

}
#submit:hover {
    /*background: linear-gradient(to top, #44E819 0%, #20E869 50%, #8FFF9A 100%);*/
    background-color: #355DFF;
    cursor: pointer;
}
/* Styling of the table for the form */
fieldset {
    display: block;
    border: transparent;
}

/* Second column */

th.question {
    text-align: left; /*padding-right: 200px*/
}
th.no, th.yes {
    padding: 5px;
    text-align: center;
}
th, td {
    /*border-bottom: 1px solid #7db9e8;*/
    color: #ffffff;
}

.refer {
    /*position: absolute;*/
    width: 75%;
    margin: 0 auto;/*margin-left: 60px;*/
    box-shadow: 2px 2px 2px #000000;
}
textarea {
    width: 90%; /*180px;*/
}
.comments {
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    border-radius: 5px;
    padding-top: 5px;
}
.comments:hover {
    background: #FFFEBA;
}
.comments:focus {
    background: #C8F3FF;
}
/* End table styling */

/* End main CSS styling*/



/* Media Queries */

@media screen and (min-width: 991px) and (max-width: 2000px) {
    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    .four {
        position: absolute;
        top: 50%; /*top: 780px;*/
        left: 0;
        width: 100%; /*width: 960px;*/
        clear: both;
        margin-top: 5%;

    }


}

@media screen and (max-width: 990px) {

    #myForm {
        position: relative;
        border-radius: 20px;
        width: 100%; /*width: 960px;*/
        height: 1600px; /*height: 3000px;*/
        margin: 50px auto;
        background: linear-gradient(to bottom,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);
        box-shadow: 2px 2px 10px #000;
        overflow: hidden;
    }

    #three {
        position: absolute;
        width: 45.833333%;
        top: 35%;
        left: 0;
    }
    .four {
        position: absolute;
        top: 50%; /*top: 780px;*/
        left: 0;
        width: 100%; /*width: 960px;*/
        clear: both;
        margin-top: 5%;

    }
    #pickyear, #pickmonth, #pickday, .monthpicker, .daypicker, .yearpicker {
        display: block;
        margin: 0; /*20px*/
    }

    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    #income {
        width: 40%;
    }
}

@media screen and (min-width:640px) and (max-width:1136px)/*(max-width: 768px)*/ {

    #myForm {
        position: relative;
        border-radius: 20px;
        width: 100%; /*width: 960px;*/
        height: 2000px; /*height: 3000px;*/
        margin: 50px auto;
        background: linear-gradient(to bottom,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);
        box-shadow: 2px 2px 10px #000;
        overflow: hidden;
    }

    #one {
        position: absolute;
        border-right: 1px solid #000000;
        /*border-bottom: 1px solid #000000;*/
        padding-right: 15px;
        padding-bottom: 15px;
        box-shadow: 1px 1px 1px #000000;
        background: linear-gradient(to top, #90C6FF 0%, #82B2E5 50%, #7DA3FF 100%);
        float: left;
        width: 90%; /*45.833333%; 440px;*/
        left: 5%;
        top: 3.125%;/*top: 30px;*/
        /*margin-right: 20px;*/
    }

    #two {
        /*margin-left: 50px;
        float: left;
        clear: right;*/
        margin: 0 auto;
        border-left: 1px solid #000000;
        border-bottom: 1px solid #000000;
        box-shadow: 1px 1px 1px #000000;
        background-color: #31b0d5;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -ms-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;
        position: absolute;
        top: 28%; /*top: 30px; 3.125%*/
        left: 5%; /*left: 520px; 54.166667%*/
        width: 90%; /*45.833333%; 440px;*/
    }
#two:hover {
    background-color: #355DFF;
}
    #three {
        position: absolute;
        width: 90%; /*45.833333%;*/
        top: 53%;/*35%*/
        left: 5%;
    }
    #pickyear, #pickmonth, #pickday, .monthpicker, .daypicker, .yearpicker {
        display: block;
        margin: 0; /*20px*/
    }

    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    .four {
        position: absolute;
        top: 71%; /*top: 780px; 54%*/
        left: 0;
        width: 120%; /*width: 960px;*/
        clear: both;
        /*margin-top: 10%;*/

    }
    .refer {
        width: 80%;
        margin-left: 0;
        box-shadow: 2px 2px 2px #000000;
    }

    #submit {
        width: 20%;
        height: 2%;
        position: absolute;
        background-color: #20E869;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -ms-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;
        border: 1px solid #55E829;
        border-radius: 8px;
        top: 95%;
        left: 67%;
        margin: 10px;
        font-size: 1em;
    }

    #submit:hover {
        /*background: linear-gradient(to top, #44E819 0%, #20E869 50%, #8FFF9A 100%);*/
        background-color: #355DFF;
        cursor: pointer;
    }

}

@media screen and (min-width: 320px) and (max-width: 639px) {

    #myForm {
        position: relative;
        border-radius: 20px;
        width: 100%; /*width: 960px;*/
        height: 1860px; /*height: 3000px;*/
        margin: 50px auto;
        background: linear-gradient(to bottom,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);
        box-shadow: 2px 2px 10px #000;
        overflow: hidden;
    }

    #one {
        position: absolute;
        border-right: 1px solid #000000;
        /*border-bottom: 1px solid #000000;*/
        padding-right: 15px;
        padding-bottom: 15px;
        box-shadow: 1px 1px 1px #000000;
        background: linear-gradient(to top, #90C6FF 0%, #82B2E5 50%, #7DA3FF 100%);
        float: left;
        width: 90%; /*45.833333%; 440px;*/
        left: 5%;
        top: 3.125%;/*top: 30px;*/
        /*margin-right: 20px;*/
    }

    #two {
        /*margin-left: 50px;
        float: left;
        clear: right;*/
        margin: 0 auto;
        border-left: 1px solid #000000;
        border-bottom: 1px solid #000000;
        box-shadow: 1px 1px 1px #000000;
        background-color: #31b0d5;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -ms-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;
        position: absolute;
        top: 28.5%; /*top: 30px; 3.125%*/
        left: 5%; /*left: 520px; 54.166667%*/
        width: 90%; /*45.833333%; 440px;*/
    }

    #two:hover {
        background-color: #355DFF;
    }

    #three {
        position: absolute;
        width: 90%; /*45.833333%;*/
        top: 58%;/*35%*/
        left: 5%;
    }
    #pickyear, #pickmonth, #pickday, .monthpicker, .daypicker, .yearpicker {
        display: block;
        margin: 0; /*20px*/
    }

    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    .four {
        position: absolute;
        top: 74%; /*top: 780px;*/
        left: 0;
        width: 100%; /*width: 960px;*/
        clear: both;

    }
    .refer {
        width: 90%;
        margin-left: 4%;
        box-shadow: 2px 2px 2px #000000;
    }

    #submit {
        width: 20%;
        height: 2%;
        position: absolute;
        background-color: #20E869;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -ms-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;
        border: 1px solid #55E829;
        border-radius: 8px;
        top: 97%;
        left: 67%;
        margin: 10px;
        font-size: 1em;
    }

    #submit:hover {
        /*background: linear-gradient(to top, #44E819 0%, #20E869 50%, #8FFF9A 100%);*/
        background-color: #355DFF;
        cursor: pointer;
    }
}









