/*Forms homework*/

body {
    background: linear-gradient(to right, #58E1FF 0%, #4FCBE5 53%, #42A9BF 100%);
}

#myForm {
    position: relative;
    border-radius: 20px;
    width: 65%; /*width: 960px;*/
    height: 1600px; /*height: 3000px;*/
    margin: 50px auto;
    background: linear-gradient(to bottom,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);
    box-shadow: 2px 2px 10px #000;
    overflow: hidden;
}
form * {
    background: transparent;
}

#one {
    position: absolute;
    float: left;
    width: 45.833333%; /*width: 440px;*/
    left: 0;
    top: 3.125%;/*top: 30px;*/
    /*margin-right: 20px;*/
}

#two {
    /*margin-left: 50px;
    float: left;
    clear: right;*/
    position: absolute;
    top: 3.125%; /*top: 30px;*/
    left: 54.166667%; /*left: 520px;*/
    width: 45.833333%; /*width: 440px;*/
}

#three {
    /*float: left;
    clear: both;*/
    position: absolute;
    top: 32.5%; /*top: 520px;*/
    left: 0;
    width: 45.833333%; /*width: 440px;*/
    margin-bottom: 10px;

}
.four {
    position: absolute;
    top: 48.75%; /*top: 780px;*/
    left: 0;
    width: 100%; /*width: 960px;*/
    clear: both;
    /*border-top: 1px solid #7db9e8;*/
}
h3, h2 {
    color: #ffffff;
    text-align: center;
}
h2 {
    width: 100%; /*width: 960px;*/
    border-bottom: 1px solid #7db9e8;
}
p {
    color: #ffffff;
}
label {
    color: #ffffff;
    display: block;
    margin-top: 10px;
}
#name, #email, #datetime, #city, .state {
    margin: 5px 0 10px 0;
    display: block;
}
#city {
    width: 45.454545%; /*width: 200px;*/
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    border-radius: 5px;
}
/*input[type=date] {
    width: 100px;
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    border-radius: 5px;
}*/

#local {
    float: left;
}
#location {
    float: left;
    /*margin-left: 31.818182%; margin-left: 140px;*/
    margin-top: 5px;

}

#state {
    width: 100%;
}

#statelabel, #address {
    margin-bottom: 5px;
}

#address {
    margin-top: 5px;
}

#pickyear, #pickmonth, #pickday {
    margin-bottom: 4.545455%; /*20px*/
}

.yearpicker {
    float: left;
}

.monthpicker {
    float: left;
}
.daypicker {
    float: left;
    clear: right;
}
#bd {
    text-align: left;
    margin-bottom: 1.136364%; /*5px*/
}
.monthpicker, .daypicker {
    margin-left: 11.363636%; /*margin-left: 50px;*/
}
#centerfs {
    /*margin: 5px 20px 5px 70px;*/
}

#income {
    display: inline;
    margin-left: 3.409091%;/*margin-left: 15px;*/
    width: 27.272727%; /*width: 120px;*/
    margin-bottom: 10px;
}

.income {
    display: inline;
    margin-top: 4.545455%; /*margin-top: 20px;*/
}

select {
    margin-top: 2.272727%; /*margin-top: 10px;*/
    border: 1px solid #355DFF;
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    height: 4.545455%; /*height: 20px;*/
}

input[type=text], input[type=email], input[type=number] {
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    border-radius: 5px;
    width: 100%; /*width: 440px;*/
    margin-bottom: 1.136364%; /*margin-bottom: 5px;*/
}

input[type=text]:hover, input[type=email]:hover, input[type=datetime]:hover, input[type=number]:hover, select:hover, #income:hover {
    background: #FFFEBA;
}

input[type=text]:focus, input[type=email]:focus, input[type=datetime]:focus, input[type=number] {
    background: #C8F3FF;
}

input[placeholder] {
    padding-left: 10px;
}

#submit {
    background: linear-gradient(to bottom, #44E819 0%, #20E869 50%, #8FFF9A 100%);
    border: 1px solid #55E829;
    border-radius: 5px;
    float: right;
    margin: 10px;
}
#submit:hover {
    background: linear-gradient(to top, #44E819 0%, #20E869 50%, #8FFF9A 100%);
    cursor: pointer;
}

fieldset {
    display: block;
    border: transparent;
}

/* Second column */

th.question {
    text-align: left; /*padding-right: 200px*/
}
th.no, th.yes {
    padding: 5px;
    text-align: center;
}
th, td {
    border-bottom: 1px solid #7db9e8;
    color: #ffffff;
}

.inhabitants, .working, .householdsize {
    display: inline;
    margin-top: 10px;
}
#people {
    margin-left: 2.272727%; /*margin-left: 10px;*/
    margin-bottom: 10px;
}
#work {
    margin-left: 5.454545%; /*margin-left: 24px;*/
    margin-bottom: 10px;
}
#householdsize {
    margin-left: 29.090909%; /*margin-left: 128px;*/
}
.refer {
    margin-left: 30px;
    box-shadow: 2px 2px 2px #000000;
}
.refer th {
    border-top: 1px solid #000000;
}
.comments {
    background: #DFF1FF;
    box-shadow: inset 2px 2px 2px #7db9e8;
    border-radius: 5px;
    padding-top: 5px;
}
.comments:hover {
    background: #FFFEBA;
}
.comments:focus {
    background: #C8F3FF;
}

/* Media Queries */
@media screen and (min-width: 991px) and (max-width: 2000px) {
    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    .four {
        position: absolute;
        top: 50%; /*top: 780px;*/
        left: 0;
        width: 100%; /*width: 960px;*/
        clear: both;

    }


}

@media screen and (max-width: 990px) {

    #three {
        position: absolute;
        width: 45.833333%;
        top: 35%;
        left: 0;
    }
    .four {
        position: absolute;
        top: 56%; /*top: 780px;*/
        left: 0;
        width: 100%; /*width: 960px;*/
        clear: both;

    }
    #pickyear, #pickmonth, #pickday, .monthpicker, .daypicker, .yearpicker {
        display: block;
        margin: 0; /*20px*/
    }

    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    #income {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {

    #myForm {
        position: relative;
        border-radius: 20px;
        width: 100%; /*width: 960px;*/
        height: 1600px; /*height: 3000px;*/
        margin: 50px auto;
        background: linear-gradient(to bottom,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);
        box-shadow: 2px 2px 10px #000;
        overflow: hidden;
    }

    #three {
        position: absolute;
        width: 45.833333%;
        top: 30%;
        left: 0;
    }
    #pickyear, #pickmonth, #pickday, .monthpicker, .daypicker, .yearpicker {
        display: block;
        margin: 0; /*20px*/
    }

    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    .four {
        position: absolute;
        top: 54%; /*top: 780px;*/
        left: 0;
        width: 100%; /*width: 960px;*/
        clear: both;

    }

}

@media screen and (max-width: 480px) {

    #myForm {
        position: relative;
        border-radius: 20px;
        width: 100%; /*width: 960px;*/
        height: 1600px; /*height: 3000px;*/
        margin: 50px auto;
        background: linear-gradient(to bottom,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);
        box-shadow: 2px 2px 10px #000;
        overflow: hidden;
    }

    #three {
        position: absolute;
        width: 45.833333%;
        top: 40%;
        left: 0;
    }
    #pickyear, #pickmonth, #pickday, .monthpicker, .daypicker, .yearpicker {
        display: block;
        margin: 0; /*20px*/
    }

    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    .four {
        position: absolute;
        top: 65%; /*top: 780px;*/
        left: 0;
        width: 100%; /*width: 960px;*/
        clear: both;

    }

}

@media screen and (max-width: 420px) {

    #myForm {
        position: relative;
        border-radius: 20px;
        width: 100%; /*width: 960px;*/
        height: 1600px; /*height: 3000px;*/
        margin: 50px auto;
        background: linear-gradient(to bottom,  #1e5799 0%, #2989d8 53%, #7db9e8 100%);
        box-shadow: 2px 2px 10px #000;
        overflow: hidden;
    }

    #three {
        position: absolute;
        width: 45.833333%;
        top: 40%;
        left: 0;
    }
    #pickyear, #pickmonth, #pickday, .monthpicker, .daypicker, .yearpicker {
        display: block;
        margin: 0; /*20px*/
    }

    .inhabitants, .working, .householdsize, #people, #work, #householdsize, #income {
        display: block;
        margin: 0;
    }
    #people, #work, #householdsize, #income {
        margin-bottom: 5%;
    }
    .four {
        position: absolute;
        top: 70%; /*top: 780px;*/
        left: 0;
        width: 100%; /*width: 960px;*/
        clear: both;

    }

}

}






