/* Login stylesheet */
body {
    background-color: #030068;
}
/* Main content styling */
#wrapper {
    width: 34.722222%; /*500px;*/
    background: linear-gradient(#000000 0%, #333333 50%, #666666 100% );
    margin: 3.125em auto;/*50px auto;*/
    overflow: hidden;
    box-shadow: .313em .313em .313em #0c7580;/*5px 5px 5px*/
    border-radius: .625em; /*10px;*/
    border: .250em outset #06ff00; /* 4px */

}
fieldset {
    border: hidden;
}
fieldset h3 {
    color: #d1fbff;
    text-align: center;
}
p {
    color: #ffffff;
    margin-top: 1.875em; /*30px;*/
}
p a {
    color: #99e2f5;
}
form * {
    background: transparent;
}
/* End main styling */
/* Label styling */
label {
    display: block;
    color: #ffffff;
    margin: 1.250em 0 .625em 0;/*20px 0 10px 0;*/
}
input {
    width: 50%; /*250px 250/500;*/
    height: 4%; /*20px 20/500;*/
    border: .125em inset #8fc6ff; /* 2px */
    background: linear-gradient(#a2f7ff 25%, #d1fbff 100%);
    border-radius: .313em; /*5px;*/
}
input:hover {
    background: #fff333;
}
input:focus {
    background: #dcffbe;
}

/* End label styling */

/* Submit styling */

#submit {
    float: right;
    margin: 10% 4% 2% 4%; /*50px 20px 10px 20px;*/
    width: 20%; /*100px;*/
    height: 4%; /*20px;*/
    background: #33d956; /*linear-gradient(#33d956 0%, #66e380 100% ) ;*/
    border: .125em solid #00d02c; /*2px*/
    border-radius: .500em;/*8px*/
    box-shadow: .063em .125em .063em #99ecab;/*1px 1px 2px*/
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -ms-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#submit:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    background: #06ff00; /*linear-gradient(#66e380 0%, #33d956 100%);*/
    cursor: pointer;
}
#submit:active {
    background: #06ff00;
}
/* End submit styling */

/*Media queries*/

@media screen and (min-width: 280px) and (max-width: 479px) {
    #wrapper {
        width: 75.156576%;
    }
    #submit {
        width: 24%;
    }
    input {
        width: 75%;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper {
        width: 78.247261%;
    }
    #submit {
        width: 24%;
    }
    input {
        width: 75%;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    #wrapper {
        width: 65.189048%;
    }
    #submit {
        width: 24%;
    }
    input {
        width: 75%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    #wrapper {
        width: 39.0625%;
    }
    #submit {
        width: 24%;
    }
    input {
        width: 75%;
    }
}


