/* Stylings for all the article pages */
/* Header Styling */
body {
    background-color: #030068;
    width: 100%; /*1440px*/
    font-family: Arial, Verdana, sans-serif;
    font-size: 1em;
}
img {
    max-width: 100%;
}
.wrapper {
    width: 66.666667%; /*960px*/
    margin: auto;
    background: linear-gradient(#cadeee 0%, #afcee5 60%, #79add4 100% );/*background: #b9c2d0;*/
    overflow: auto;
}
.headergroup {
    margin: auto;
    width: 100%;/*960px*/
    background: url("../img/BG960x470.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
}

.headergroup .mainnav ul li {
    display: inline;
    padding: .125em .5em;/*2px 8px;*/
    margin-left: .625em; /*10px */
    border: .063em solid #45fffd;/*1px */
    border-radius: .5em; /*8px;*/
    background: linear-gradient(#2e9dff 25%, #5cacff 60%, #9dcdff 100%);
    box-shadow: .063em .063em .063em .063em #7dbdff;/*1px */
}
.headergroup .mainnav ul li:hover {
    background: linear-gradient(#9dcdff 25%, #5cacff 60%, #2e9dff 100%);
}
.headergroup .mainnav ul li:active {
    background: #333dc7;
}
.headergroup .mainnav ul li a {
    color: #ffffff;
}
.pagenav {
    float: left;
}
.login {
    float: left;
    clear: right;
    margin-left: 29.166667%;/*280px;*/
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    color: #576162;
    background: rgba(255, 164, 120, .6);
}
/* Main article styling */
article {
    border-right-style: groove;
    width: 62.5%;/*600px;*/
    float: left;
    clear: right;
    margin: 4.166667% 1.5625%;/*40px 15px;*/
}
article h2, aside h3 {
    text-align: center;
}
article p, aside p {
    padding-left: 1.666667%;/*10px;*/
    padding-right: 1.666667%;/*10px;*/
    text-indent: 1.666667%;/*10px;*/
}
/* End main article styling */
/* Aside styling */
aside {
    width: 26.041667%;/*250px;*/
    float: left;
    margin: 4.166667% 1.5625%;/*40px 15px;*/
}
aside ul li {
    display: block;
    padding-bottom: 4%;/*10px; 10/250 = .04 */
}
aside ul li a {
    color: #333dc7;
}
aside ul li a:hover {
    color: #06ff00;
}
aside ul li a:active {
    color: #ffffff;
}

figure {
    margin: auto;
}
img {
    border-radius: .625em; /*10px;*/
    box-shadow: .125em .125em .188em #000000; /* 2px 2px 3px */
}
.main ul {
    text-align: center;
    margin-right: 16%;/*40px; 40/250 = .16 */
}
/* End aside styling */

/* Ad space styling */


.adspace p {
    text-align: center;
}

.adspace {
    margin: auto;
    clear: both;
    border-top-style: groove;
    background: radial-gradient(#00e79b 40%, #99f5d7 60% );
    width: 48.75%;/*468px 468/960;*/
    height: 46.153846%; /*60px 60/130;*/
    border-radius: .625em; /*10px;*/
    box-shadow: .063em .063em .125em #000000;/*1px 1px 2px*/
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.adspace:hover {
    -webkit-transform: skew(40deg, 5deg);
    -moz-transform: skew(40deg, 5deg);
    -o-transform: skew(40deg, 5deg);
    transform: skew(40deg, 5deg);
}

/* End ad space styling */

/* Table styling section*/
.table {
    border-top: outset;
}
fieldset {
    border: groove;
    margin-bottom: 1.250em; /*20px;*/
}
table {
    width: 93.75%; /*900px 900/960;*/
    margin: auto;
}
fieldset h3 {
    text-align: center;

}
td {
    border-bottom: .063em groove #000000; /* 1px */
}
td a {
    color: #333dc7;
}
td a:hover {
    color: #06ff00;
}
td a:active {
    color: #000000;
}
tr:hover {
    background: #ffffff;
}
th {
    padding-bottom: .625em; /*10px;*/
}
td {
    padding: .313em 1.250em; /*5px 20px;*/
}


/* End table styling section */

/* Footer styling section */

.bottomnav {
    margin-top: 1.250em; /*20px;*/
    border-top-style: groove;
}

.bottomnav .foot .colone ul {
    float: left;
    padding-left: 15.625%; /*150px 150/960;*/
}
.bottomnav .foot .coltwo ul {
    float: left;
    clear: right;
    padding-left: 10.416667%; /*100px;*/
}
.bottomnav .foot .colthree ul {
    float: left;
    clear: right;
    padding-left: 10.416667%; /*100px;*/
}
.bottomnav .foot .colfour ul {
    float: left;
    clear: right;
    padding-left: 10.416667%; /*100px;*/
}
/* End footer styling */

/* Media queries */
@media screen and (min-width: 280px) and (max-width: 479px) {
    .wrapper {
        width: 100%;
    }
    .headergroup .mainnav .pagenav ul{
        text-align: left;
    }
    .headergroup {
        width: 103%;
    }
    .login {
        align-content: center;
    }
    article {
        border-right-style: none;
        border-bottom-style: groove;
        width: 98%;/*600px;*/
        margin: 2.347418%;/*40px 15px;*/
    }
    aside {
        width: 100%;/*250px;*/
        border-bottom-style: groove;
        margin: 2.347418%;/*40px 15px;*/
    }
    aside h3 {
        font-size: 1.5em;
    }
    aside p {
        text-align: center;
    }
    aside ul {
        margin-left: 10.460251%;
    }
    figure {
        margin-left: 20%;
    }
    .table {
        width: 100%;
        border: none;
    }
    td {
        padding: .313em .313em; /*5px 5px;*/
    }
    fieldset {
        border: none;
    }
    .bottomnav .foot .colone ul {
        float: left;
        padding-left: 31.298905%; /*150px 150/960;*/
    }
    .bottomnav .foot .coltwo ul {
        float: left;
        clear: right;
        padding-left: 10.416667%; /*100px;*/
    }
    .bottomnav .foot .colthree ul {
        float: left;
        clear: both;
        padding-left: 31.298905%; /*100px;*/
    }
    .bottomnav .foot .colfour ul {
        float: left;
        clear: right;
        padding-left: 10.416667%; /*100px;*/
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    body {
        width: 100%;
    }
    .wrapper {
        width: 90%;
        margin: auto;
    }
    .headergroup {
        width: 103%;
    }
    .pagenav {
        margin-left: 7.824726%;
     }
    .login {
        align-content: center;
    }
    article {
        border-right-style: none;
        border-bottom-style: groove;
        width: 98%;/*600px;*/
        /*float: left;
        clear: right;*/
        margin: 2.347418%;/*40px 15px;*/
    }
    aside {
        width: 100%;/*250px;*/
        border-bottom-style: groove;
        margin: 2.347418%;/*40px 15px;*/
    }
    aside h3 {
        font-size: 1.5em;
    }
    aside p {
        text-align: center;
    }
    aside ul {
        margin-left: 100px;
    }
    figure {
        margin-left: 30%;
    }
    .table {
        width: 100%;
        border: none;
    }
    fieldset {
        border: none;
    }
    .bottomnav .foot .colone ul {
        float: left;
        padding-left: 31.298905%; /*150px 150/960;*/
    }
    .bottomnav .foot .coltwo ul {
        float: left;
        clear: right;
        padding-left: 10.416667%; /*100px;*/
    }
    .bottomnav .foot .colthree ul {
        float: left;
        clear: both;
        padding-left: 31.298905%; /*100px;*/
    }
    .bottomnav .foot .colfour ul {
        float: left;
        clear: right;
        padding-left: 10.416667%; /*100px;*/
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    body {
        width: 100%;
    }
    .wrapper {
        width: 90%;
        margin: auto;
    }
    .headergroup {
        width: 103%;
    }
    .login {
        float: left;
        clear: right;
        margin-left: 3.259452%;/*3.259452%; 25px;*/
    }
    article {
        border-right-style: none;
        border-bottom-style: groove;
        width: 98%;/*600px;*/
        /*float: left;
        clear: right;*/
        margin: 2.347418%;/*40px 15px;*/
    }
    aside {
        width: 100%;/*250px;*/
        border-bottom-style: groove;
        margin: 2.347418%;/*40px 15px;*/
    }
    aside h3 {
        font-size: 1.5em;
    }
    aside p {
        text-align: center;
    }
    aside ul {
        margin-left: 100px;
    }
    figure {
        margin-left: 30%;
    }
    .table {
        width: 100%;
        border: none;
    }
    fieldset {
        border: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    body {
        width: 100%;
    }
    .wrapper {
        width: 90%;
        margin: auto;
    }
    .headergroup {
        width: 103%;
    }

    .headergroup {
        width: 100%;
    }
    .login {
        float: left;
        clear: right;
        margin-left: 13.020833%;/*250px;*/

    }
    article {
        border-right-style: none;
        border-bottom-style: groove;
        width: 98%;/*600px;*/
        /*float: left;
        clear: right;*/
        margin: 2.347418%;/*40px 15px;*/
    }
    aside {
        width: 100%;/*250px;*/
        border-bottom-style: groove ;
        margin: 2.347418%;/*40px 15px;*/
    }
    aside h3 {
        font-size: 1.5em;
    }
    aside p {
        text-align: center;
    }
    aside ul {
        margin-left: 100px;
    }
    figure {
        margin-left: 30%;
    }

    .table {
        width: 100%;
        padding-top: 80px;
        margin: auto;
        border-top: none;
    }

    fieldset {
        border: none;
    }

}
/* End media queries */