/* Sign Up Form*/

body {
    background: #030068;
    font-size: 1em;
    font-family: Arial, Verdana, sans-serif;
}
form * {
    background: transparent;
}
#myForm {
    width: 41.666667%; /*600px;*/
    margin: 3.472222% auto; /*50px*/
    border: .250em outset #06ff00; /* 4px */
    background: linear-gradient(#000000 0%, #333333 50%, #666666 100%);
    box-shadow: .313em .313em .313em #0c7580; /*5px 5px 5px*/
    border-radius: .625em; /*10px*/
}
h3 {
    text-align: center;
}
fieldset {
    border: hidden;
}
label {
    display: block;
    margin-top: 1.250em; /*20px;*/
    color: #ffffff;
}
input {
    margin-top: .313em; /*5px;*/
    border: inset #333dc7;
    border-radius: .125em; /*2px*/
    box-shadow: .125em .125em .125em #000000; /*2px 2px 2px*/
    background: linear-gradient(#a2f7ff 25%, #d1fbff 100%);
}
input:hover {
    background: #fff333;
}
input:focus {
    background: #dcffbe;
}
.updates, .newsletter {
    display: inline-block;
    clear: both;
    margin-left: 1.666667%; /*10px;*/
}
p {
    margin-top: 1.875em; /*30px;*/
}
h3, p a {
    color: #d1fbff;
}

#submit {
    float: right;
    width: 13.333333%; /*80px;*/
    margin: 3.333333% 3.333333% 1.666667% 0;    /*20px 20px 10px 0;*/
    background: #33d956; /*linear-gradient(#33d956 0%, #66e380 100% ) ;*/
    border: .125em solid #00d02c; /*2px*/
    border-radius: .500em; /*8px*/
    box-shadow: .125em .125em .125em #99ecab;/*2px 2px 2px*/
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -ms-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#submit:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    background: #06ff00; /*linear-gradient(#66e380 0%, #33d956 100%);*/
    cursor: pointer;
}
#submit:active {
    background: #06ff00;
}


/*End of submit styling*/

/* Media queries */
@media screen and (min-width: 280px) and (max-width: 479px) {
    #myForm {
        width: 75.156576%;
    }
    #submit {
        width: 24%;
    }
    input {
        width: 75%;
    }
    .updates, .newsletter {
        display: block;
        clear: both;
        margin-top: 0;
    }
    #updates, #newsletter {
        margin-top: 5.555556%;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #myForm {
        width: 78.247261%;
    }
    #submit {
        width: 24%;
    }
    input {
        width: 75%;
    }
    .updates, .newsletter {
        display: block;
        clear: both;
        margin: 0 ;
    }
    #updates, #newsletter {
        margin-top: 5.555556%;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    #myForm {
        width: 65.189048%;
    }
    #submit {
        width: 24%;
    }
    input {
        width: 75%;
    }
    .updates, .newsletter {
        display: block;
        clear: both;
        margin-top: 0;
    }
    #updates, #newsletter {
        margin-top: 5.555556%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    #myForm {
        width: 39.0625%;
    }
    #submit {
        width: 24%;
    }
    input {
        width: 75%;
    }
    .updates, .newsletter {
        display: block;
        clear: both;
        margin-top: 0;
    }
    #updates, #newsletter {
        margin-top: 5.555556%;
    }

}



