/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #74ffad;
    font: 1em;
}

/*Container styling*/
.wrapper {
    background-color: #ffaca7;
    overflow: auto;
    width: 100%; /*960px;*/
    margin: auto;
}
h3 {
    text-align: center;
}

/*Header styling*/
.header {
    background-color: #000000;
    width: 97.916667%; /*940px;*/
    margin: 1.041667%; /*10px;*/
}
.header h1, .header h5 {
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}

/*Three column styling*/
.first-column {
    width: 31.25%; /*300px;*/
    float: left;
    margin: 1.041667%; /*10px;*/
}
.second-column {
    width: 31.25%; /*300px;*/
    float: left;
    clear: right;
    margin: 1.041667%; /*10px;*/
}
.third-column {
    width: 31.25%; /*300px;*/
    float: left;
    clear: right;
    margin: 1.041667%; /*10px;*/
}


/*Table styling*/
table {
    width: 100%; /*300px;*/
    text-align: left;
    border: .125em solid #b3a475;
}
th {
    border: .125em solid #b3a475;
    text-align: center;
}
td {
    border:.125em solid #b3a475;
    padding-left: 1.666667%; /*5px;*/
}
/*Large column styling*/
#one-column {
    width: 97.916667%; /*940px;*/
    margin: 4.166667% 1.041667%; /*40px 10px;*/
    clear: both;
    background-color: #e2d9f0;
}
#one-column h3, #one-column p {
    color: #000000;
    padding: 0.531915%; /*5px;*/
}
/*Two column and sidebar styling*/
.my-column {
    width: 62.5%; /*600px;*/
    float: left;
    clear: right;
    margin: 4.166667% 1.041667%; /*40px 10px;*/
    background-color: #6d3fb3;
}

#sidebar {
    width: 31.25%; /*300px;*/
    float: right;
    margin: 4.166667% 1.041667%; /*40px 10px;*/
    background-color: #3fb36f;

}
#sidebar h3, #sidebar p, .my-column h3, .my-column p {
    color: #ffffff;
}
#sidebar p, .my-column p {
    padding: 1.666667%; /*5px;*/
}
/*Footer styling*/
#footer {
    background-color: #000000;
    width: 97.916667%; /*940px;*/
    clear: both;
    margin: 1.041667%; /*10px;*/
    color: #ffffff;
}
#footer h3, ul li a {
    color: #ffffff;
}
#footer h3 {
    text-align: center;
    padding-top: 1.06383%; /*10px;*/
}
#footer ul li {
    padding-left: 1.06383%;  /*10px;*/
    display: inline-block;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        .wrapper {
            width: 100%;
            overflow: auto;
            margin: auto;
        }
        .header, #one-column, #footer {
            width: 97.914494%;
        }
        .first-column, .second-column, .third-column {
            width: 29.19708%;
            margin: 1.042753%;

        }
        #sidebar {
            width: 29.19708%;
            margin:  4.171011% 1.042753%;
        }
        table {
            width: 100%;
        }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        .wrapper {
            width: 100%;
        }
        .header, #one-column, #footer {
            width: 97.001304%;
        }
        .first-column, .second-column, .third-column {
            width: 97.001304%;
            float: left;
            clear: both;
        }
        table {
            width: 100%;
            float: left;
            clear: right;
        }
        #sidebar {
            width: 32.333768%;
        }
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        .wrapper {
            width: 100%;
        }
        .header, .first-column, .second-column, .third-column, .my-column {
            width: 95.824635%;
            margin: 2.1%;
        }
        #one-column, #footer, #sidebar {
            width: 95.824635%;
            margin: 2.1%;
        }
    }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/