/* Added CSS */
/* Main body styling*/
body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #fdf3f4;/*#ffe8ea;#fcdaff;*/

}
h1, h2, h4 {
    font-weight: normal;
}
.indent p {
    text-indent: 1.5em;
}
/* Styling for the jumbotron */
.jumbotron {
    background-color: #ffd1d5;
    box-shadow: .2em .2em .6em #9999a2;
}
.jumbotron p {
    font-style: italic;
}
.jumbotron h1 {
    font-weight: normal;
}
.shadow {
    box-shadow: .2em .2em .6em #9999a2;
}

 /* Styling for the aside */
.glyphicon {
    padding-right: 1em;
}
aside a button {
    margin-bottom: 1em;
}
.yellow, .submit {
    background-color: #97353e;/* #c8cc9a;*/
    border-color: #e36672;/*#f4ffda;*/
    box-shadow: .2em .2em .2em #9999a2;
}
.pad {    /* Styling to offset the glyphs so they don't ride so close */
    margin-top: 1em;
}
/* Article styling section */
.thumbnail {
    box-shadow: .2em .2em .6em #9999a2;
}
article {
    margin-top: 2em;
}
article > p {
    font-style: italic;
}
.butt { /* Styling to put the submit button on the right */
    float: right;
    margin-top: 2em;
}

.two {
    margin-top: 2em;
}

.col-lg-3 {
    margin-bottom: 2em;
}
/* Form styling*/

.form {
    margin-top: 1.5em;
}
.form-group {
    margin-top: 2em;
}

#check {
    float: left;
}
.check, .receive {
    margin-left: 2em;
}
.submit {
    margin-top: 1em;
    float: right;
}

#receive {
    float: left;
    clear: right;
}
/* Table Styling */
.table {
    margin-top: 20px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f4c2c7;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #ffffff;
}
/* Footer Styling */
footer {
    border-top: .10em solid #000000;
}
/* Media Queries */